.coverCover{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(251, 150, 110, 0.8);
    backdrop-filter: blur(15px);
    pointer-events: none;
}
.coverCover > p{
    font-family: "Noto Sans SC", sans-serif;
    position: relative;
    text-align: center;
    top: 40vh;
    font-size: 24px;
    font-weight: 200;
}
