.projects{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: auto;
}
.project{
    position: relative;
    flex: 0 0 auto;
    height: 100vh;
    overflow-y: scroll;


}

#content{
    position: relative;
    padding-top: 7vh;
    min-height: 60vh;
}

#railway{
    pointer-events: none;
    position: fixed;
    top: 0;
}
